* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(28, 33, 43);
  color: rgb(216, 218, 238);
}

:root {
  --color1: rgb(82, 199, 228);
  --color2: brown;
  --color3: rgb(28, 31, 39);
}

.counterText {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color1);
  margin: 1rem;
}

.searchInput {
  display: block;
  margin: 0 auto;
  border-radius: .2rem;
  border: .2rem solid rgb(255, 255, 255);
  padding: .2rem;
}
.searchInput:focus{
  border-radius: .2rem;
  border-color: var(--color1);
  outline: 0 none;
}

.toDoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.toDoItem {
  display: flex;
  margin: 0 auto;
  background-color: var(--color3);
  border-radius: 1rem;
  margin: .5rem;
  padding: .5rem;
}
.toDoP{
  padding: 0 0.5rem ;
}
.toDoItemComplete{
  text-decoration: line-through;
  color: rgb(101, 113, 123);
}

.eraseItem {
  width: 0.7rem;
  fill: gray;
}

.eraseItem:hover{
  fill: brown;
}
.checkItem:hover{
  fill: green;
}

.addToDoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  background-color: var(--color1);
  box-shadow: 0 0 0.5rem rgb(109, 143, 170);
  color: white;
}