* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(28, 33, 43);
  color: wheat;
}

:root {
  --color1: rgb(82, 199, 228);
  --color2: brown;
  --color3: rgb(28, 31, 39);
}

.counterText {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color1);

}

.searchInput {
  display: block;
  margin: 0 auto;
  height: 2rem;
}
.searchInput:focus{
  outline-color: var(--color1);
}

.toDoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.toDoItem {
  display: flex;
  margin: 0 auto;
  background-color: var(--color3);
  margin: 0.5rem;
  padding: 0.5rem;
}
.toDoP{
  padding: 0 0 0 0.5rem ;
}
.toDoItemComplete{
  text-decoration: line-through;
}
.completedItem{
  color: green;
}
.noCompleted{
  color: red;
}
.eraseItem {
  color: var(--color2);
  position: relative;
  border: 1rem;
  bottom: 0.5rem;
  left: 0.5rem;
}

.addToDoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  background-color: var(--color1);
  box-shadow: 0 0 0.5rem rgb(109, 143, 170);
  color: white;
}